{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <form method="POST" id ='contentForm'>
    
  {% csrf_token %}
  <!-- <h1>{{quiz.test_type}}</h1> -->
  
  {% for i in quiz %}
    <div id = "question" class = '{{i.test_type}}'>
      <hr>
      <p class="text-center" name = "Question" ><b>{{i.question}}</b></p>
      <ol data-as = '{{ i.id }}'>
        <li><input type="radio" name="quest{{i.id}}" class="1"> <label class="form-check-label" for="a_1">{{i.options_A}} </label></li>
        <li><input type="radio" name="quest{{i.id}}" class="2"> <label class="form-check-label" for="a_2">{{i.options_B}} </label></li>
        <li><input type="radio" name="quest{{i.id}}" class="3"> <label class="form-check-label" for="a_3">{{i.options_C}} </label></li>
        <li><input type="radio" name="quest{{i.id}}" class="4"> <label class="form-check-label" for="a_4">{{i.options_D}} </label></li>
      </ol>
    </div>


    <button type='submit'>Получить результат</button>
  </form>



<script src = 'https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>

<script>
  
  $(document).ready(function(){
    $('input').on('change',function(){
      $.ajax({

        data: {'test_type':"{{i.test_type}}", 'answer_user':$(this).attr('class'), 'id_question':'{{i.id}}'},

        type: $("#contentForm").attr('method'),
        
        url: "http://127.0.0.1:8000/path/quiz/answer/",
        
        success: function (response) {
          alert("ждите выхода ответов");
        },
      });
    });


      // $('input').on('change', function(){
        
      // });
    
  });

    
  // function summary() {
  //   let count = document.getElementsByClassName('question').length; //Количество вопросов
  //   let answers = document.querySelectorAll('.question'); //Все элементы div с вопросами (???)
  //   let score = 0; //Количество верных ответов
  //   let rightAnswers = ['a_1'] //Список верных ответов
  //   for (let i = 0; i < count; i++) {
  //     let chosenAnswer = answers[i].querySelector("input[type='radio']:checked"); //Из массива вопросов выбираем элемент радио, который выбрал пользователь
  //     if (chosenAnswer && chosenAnswer.id == rightAnswers[i]) //Думал что будет работать если будет свреять по html разметке, но зря
  //     {
  //       score++;
  //     }
  //     console.log("Выбранный ответ: " + chosenAnswer && chosenAnswer.parentNode.textContent);
  //     console.log("Правильный ответ: " + rightAnswers[i]);
  //     console.log("Очки: " + score);
  //   }
  // }
</script>
{% endfor %}


</body>
</html>