{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  {% for i in quiz %}
  <div id = "question">
    <hr>
    <p class="text-center"><b>{{i.question}}</b></p>
    <ol data-quiz = '{{i.id}}'>
      <li><input data-as = '1' type="radio" name="quest{{i.id}}" id="a_1"> <label class="form-check-label" for="a_1">{{i.options_A}} </label></li>
      <li><input data-as = '2' type="radio" name="quest{{i.id}}" id="a_2"> <label class="form-check-label" for="a_2">{{i.options_B}} </label></li>
      <li><input data-as = '3' type="radio" name="quest{{i.id}}" id="a_3"> <label class="form-check-label" for="a_3">{{i.options_C}} </label></li>
      <li><input data-as = '4' type="radio" name="quest{{i.id}}" id="a_4"> <label class="form-check-label" for="a_4">{{i.options_D}} </label></li>
    </ol>
  </div>
  {% endfor %}


<button class="btn-success btn-lg btn-block" id="apply" onclick="summary();">Получить результат</button>


<script src = 'https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
{% for  %}
<script>
  
  $(document).ready(function(){

    $.getJSON('../urls.py', function(data) {
    alert(data.text);
    alert(data.error);
    });


    $('ol').on('click', function(){
      let questions = $(this).attr('data-quiz')
      console.log("Quiz: " + questions);

      $('input').on('change', function(){
        console.log('вопрос '+ $(this).attr('data-as'))
        // if ($(this).attr('data-as') == )
        
      });
    });
    
  });
    
  // function summary() {
  //   let count = document.getElementsByClassName('question').length; //Количество вопросов
  //   let answers = document.querySelectorAll('.question'); //Все элементы div с вопросами (???)
  //   let score = 0; //Количество верных ответов
  //   let rightAnswers = ['a_{{item.answer}}'] //Список верных ответов
  //   for (let i = 0; i < count; i++) {
  //     let chosenAnswer = answers[i].querySelector("input[type='radio']:checked"); //Из массива вопросов выбираем элемент радио, который выбрал пользователь
  //     if (chosenAnswer && chosenAnswer.id == rightAnswers[i]) //Думал что будет работать если будет свреять по html разметке, но зря
  //     {
  //       score++;
  //     }
  //     console.log("Выбранный ответ: " + chosenAnswer && chosenAnswer.parentNode.textContent);
  //     console.log("Правильный ответ: " + rightAnswers[i]);
  //     console.log("Очки: " + score);
  //   }
  // }
</script>


</body>
</html>